// Colors
// Primary
.grayish-blue {
  color: $grayish-blue;
}
.soft-red {
  color: $soft-red;
}

// Neutral
.white {
  color: $white;
}
.dark-desaturated-blue {
  color: $dark-desaturated-blue;
}
.very-dark-blue {
  color: $very-dark-blue;
}
.very-dark {
  color: $very-dark;
}
